dj-rest-auth==5.1.0
Django==4.2.11
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
django-allauth==0.61.1
djoser==2.2.2
drf-yasg==1.21.7
gunicorn==22.0.0
openai==1.16.2
requests==2.31.0
pytz==2024.1
pydantic==2.6.4
pydantic-core==2.16.3