asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
inflection==0.5.1
packaging==21.3
pillow==10.2.0
PyJWT==2.8.0
pytz==2024.1
PyYAML==6.0.1
sqlparse==0.4.2
typing_extensions==4.10.0
tzdata==2021.5
uritemplate==4.1.1
urllib3==2.2.1
dj-rest-auth==5.1.0
Django==4.2.11
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
django-allauth==0.61.1
djoser==2.2.2
drf-yasg==1.21.7
gunicorn==22.0.0
openai==1.16.2
pydantic==2.6.4
pydantic-core==2.16.3
requests==2.31.0
whitenoise==6.6.0
python-dotenv==1.0.1